body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    padding-inline: 1rem;
    max-inline-size: 1080px;
    margin-inline: auto;
}

main {
    width: 100%;
    padding-block: 2rem;
    flex: 1 0 auto;
}
